<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Hwang.crm.workbench.mapper.BarMapper">

    <select id="getTranBar" resultType="com.Hwang.crm.base.bean.Bar">
        SELECT stage xAxi,count(*) data from tbl_tran GROUP BY stage ORDER BY stage
    </select>

</mapper>
<!--namespace需要与接口权限定类名一致-->